// import custom fonts from fonts folder
@font-face {
  font-family: 'playfair';
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf');
}