$playfair: 'playfair', sans-serif;
$ubuntu: 'ubuntu', sans-serif;

$root: 14px;
$text: 1rem;
$title: 2.143rem;

$navbar-height: 40px;

$gutter-sm: 1rem;
$gutter-lg: 2rem;

$offset: 70px;

$main-color: #626262;
$main-color-light: #b4ad9e;
$main-color-dark: #000;
$bg-color: #f0f0f0;

$btn-primary: #ef3720;